<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Foreman Guardrail</title>
    <link th:href="@{/bootstrap-4.3.1-dist/css/bootstrap.min.css}"
          rel="stylesheet"/>
    <link th:href="@{/css/main.css}" rel="stylesheet"/>
    <script th:src="@{/bootstrap-4.3.1-dist/js/bootstrap.bundle.min.js}"></script>
</head>
<body class="container">
<div class="logo">
    <img src="https://storage.googleapis.com/foreman-custom/Foreman_Primary-Blue.svg"
         width="250px"
         height="250px">
</div>
<div class="section">
    <div class="alert alert-success" role="alert" th:text="${success}"
         th:if="${success}"></div>
    <div class="alert alert-danger" role="alert" th:text="${error}"
         th:if="${error}"></div>

    <form method="post" th:action="@{/}" th:object="${pickaxeConfig}">
        <div class="card mt-4">
            <h4>Authentication</h4>
            <div class="alert alert-primary">
                The information here can be obtained from the '<a
                    href="https://dashboard.foreman.mn/dashboard/profile/">My
                Account</a>' section in Foreman. This controls what
                credentials are leveraged when interacting with the Foreman API.
            </div>
            <div class="form-group">
                <label for="clientId">Client ID: <span
                        class="text-danger">*</span></label>
                <input id="clientId" required type="number"
                       th:field="*{clientId}"
                       class="form-control"/>
            </div>
            <div class="form-group">
                <label for="apiKey">API Key: <span class="text-danger">*</span></label>
                <input id="apiKey" required type="text" th:field="*{apiKey}"
                       class="form-control"/>
            </div>
        </div>
        <div class="card mt-4">
            <h4>Restrictions</h4>
            <div class="form-group">
                <label for="control">Remote Management Allowed:</label>
                <div>
                    <input id="control" type="checkbox" th:field="*{control}"
                           class="form-control fm-check"/>
                </div>
            </div>

            <div class="alert alert-primary">
                The following section allows you to
                specify IP constraints for the Foreman monitoring agent.
                Whenever an action is performed against a miner, the
                following IP ranges will be checked. This would typically be
                used in a hosting environment where only certain miners
                should be made accessible.
            </div>

            <h5>Example</h5>
            <code>
                10.0.1.2<br/>
                10.0.2.6<br/>
                10.1.5.5<br/>
                10.2.1-2.1-255<br/>
                10.2.3.1-255<br/>
                10.3.1-7.10-254
            </code>

            <div class="form-group mt-2">
                <label for="ipRanges">Allowed Ranges:</label>
                <textarea id="ipRanges" rows="10" th:field="*{ipRanges}"
                          class="form-control"
                ></textarea>
            </div>
        </div>
        <input type="submit" class="btn btn-fm-b mt-5 save" value="Save">
    </form>
</div>
</body>
</html>