<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Foreman GUARDrail</title>
    <link th:href="@{/bootstrap-4.3.1-dist/css/bootstrap.min.css}"
          rel="stylesheet"/>
    <link th:href="@{/css/main.css}" rel="stylesheet"/>
    <script th:src="@{/bootstrap-4.3.1-dist/js/bootstrap.bundle.min.js}"></script>
</head>
<body class="container">
<div class="logo">
    <img src="https://storage.googleapis.com/foreman-custom/Foreman_Primary-Blue.svg"
         width="250px"
         height="250px">
</div>
<div class="section">
    <div class="alert alert-success" role="alert" th:text="${success}"
         th:if="${success}"></div>
    <div class="alert alert-danger" role="alert" th:text="${error}"
         th:if="${error}"></div>

    <form method="post" th:action="@{/}" th:object="${pickaxeConfig}">
        <div class="card mt-4">
            <h4>Authentication</h4>
            <div class="alert alert-primary">
                The information here can be obtained from the '<a
                    href="https://dashboard.foreman.mn/dashboard/profile/">My
                Account</a>' section in Foreman. This controls what
                credentials are leveraged when interacting with the Foreman API.
            </div>
            <div class="form-group">
                <label for="clientId">Client ID: <span
                        class="text-danger">*</span></label>
                <input id="clientId" required type="number"
                       th:field="*{clientId}"
                       class="form-control"/>
            </div>
            <div class="form-group">
                <label for="apiKey">API Key: <span class="text-danger">*</span></label>
                <input id="apiKey" required type="text" th:field="*{apiKey}"
                       class="form-control"/>
            </div>
        </div>

        <div class="card mt-4">
            <h4>Remote Management</h4>
            <p>
                Whether users in Foreman should be able to dispatch remote
                commands to the miners managed by this Pickaxe. Disabling this
                will prevent Foreman from rebooting, changing pools, etc. It
                will operate in a read-only mode.
            </p>
            <div class="form-group">
                <label for="control">Remote Management Allowed:</label>
                <div>
                    <input id="control" type="checkbox" th:field="*{control}"
                           class="form-control fm-check"/>
                </div>
            </div>
        </div>

        <div class="card mt-4">
            <h4>Command Rate Limiting</h4>
            <p>
                The following section allows you to set throttling
                constraints on remote management commands. By setting a rate
                limit, commands will be spread evenly and processed over time
                rather than all at once. Typically, this would be used by a
                facility to prevent a user from performing a large-scale
                reboot and having them all ran immediately.
            </p>
            <div class="alert alert-warning">
                Note: setting the rate limit to 0 will fully disallow the
                command. It will be rejected by Pickaxe and the user will be
                presented with a "Command denied by GUARDrail" message.
            </div>
            <h5>Example</h5>
            <p>
                With reboot throttling set to 5 per second, if a user
                dispatches a mass reboot of 1,000 miners, it will take 3
                minutes and 20 seconds for them to complete.
            </p>
            <div class="form-group">
                <label for="rebootRate">
                    Reboots <span class="units">max per second</span>
                </label>
                <input id="rebootRate" type="number"
                       th:field="*{rebootRate}"
                       class="form-control" placeholder="unlimited"/>
            </div>
            <div class="form-group">
                <label for="poolChangeRate">
                    Pool Changes <span class="units">max per second</span>
                </label>
                <input id="poolChangeRate" type="number"
                       th:field="*{poolChangeRate}"
                       class="form-control" placeholder="unlimited"/>
            </div>
            <div class="form-group">
                <label for="powerModeRate">
                    Power Mode Changes <span class="units">max per second</span>
                </label>
                <input id="powerModeRate" type="number"
                       th:field="*{powerModeRate}"
                       class="form-control" placeholder="unlimited"/>
            </div>
            <div class="form-group">
                <label for="networkRate">
                    Network Changes <span class="units">max per second</span>
                </label>
                <input id="networkRate" type="number"
                       th:field="*{networkRate}"
                       class="form-control" placeholder="unlimited"/>
            </div>
            <div class="form-group">
                <label for="factoryResetRate">
                    Factory Resets <span class="units">max per second</span>
                </label>
                <input id="factoryResetRate" type="number"
                       th:field="*{factoryResetRate}"
                       class="form-control" placeholder="unlimited"/>
            </div>
            <div class="form-group">
                <label for="passwordRate">
                    Password Changes <span class="units">max per second</span>
                </label>
                <input id="passwordRate" type="number"
                       th:field="*{passwordRate}"
                       class="form-control" placeholder="unlimited"/>
            </div>
            <div class="form-group">
                <label for="blinkRate">
                    Blink LEDs <span class="units">max per second</span>
                </label>
                <input id="blinkRate" type="number"
                       th:field="*{blinkRate}"
                       class="form-control" placeholder="unlimited"/>
            </div>
        </div>

        <div class="card mt-4">
            <h4>IP Restrictions</h4>
            <p>
                The following section allows you to
                specify IP constraints for the Foreman monitoring agent.
                Whenever an action is performed against a miner, the
                following IP ranges will be checked. This would typically be
                used in a hosting environment where only certain miners
                should be made accessible.
            </p>

            <h5>Example</h5>
            <code>
                10.0.1.2<br/>
                10.0.2.6<br/>
                10.1.5.5<br/>
                10.2.1-2.1-255<br/>
                10.2.3.1-255<br/>
                10.3.1-7.10-254
            </code>

            <div class="form-group mt-2">
                <label for="ipRanges">Allowed Ranges:</label>
                <textarea id="ipRanges" rows="10" th:field="*{ipRanges}"
                          class="form-control"
                ></textarea>
            </div>
        </div>
        <input type="submit" class="btn btn-fm-b mt-5 save" value="Save">
    </form>
</div>
</body>
</html>